In [1]:
# imports
import numpy as np
import pandas as pd

In [2]:
# load data
df_ratings = pd.read_csv("Data/title.ratings.tsv.gz", sep='\t')
df_basics = pd.read_csv("Data/title.basics.tsv.gz",  sep='\t')
df_akas_us_only = pd.read_csv("Data/title-akas-us-only.csv")

C:\Users\acer\AppData\Local\Temp\ipykernel_10436\89542584.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_basics = pd.read_csv("Data/title.basics.tsv.gz",  sep='\t')
C:\Users\acer\AppData\Local\Temp\ipykernel_10436\89542584.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_akas_us_only = pd.read_csv("Data/title-akas-us-only.csv")

In [3]:
# filter the df_basics to only include US movies
df_basics = df_basics[df_basics.tconst.isin(df_akas_us_only.titleId)]

In [4]:
# replace "\n" by nan values in df_basics
df_basics.replace("\\N", np.nan, inplace=True)

In [5]:
# drop rows with nan values in "runtimeMinutes" or "genres" columns
df_basics.dropna(subset=["runtimeMinutes", "genres"], inplace=True)

In [6]:
# keep only full-length movies
df_basics = df_basics[df_basics.titleType == "movie"]

In [7]:
# convert "startYear" column type to float
df_basics.startYear = df_basics.startYear.astype(float)

In [8]:
# keep only movies with startYear between 2000 and 2022
df_basics = df_basics[(df_basics.startYear>=2000) & (df_basics.startYear<=2022)]

In [9]:
# keep only genres that not contain "Documentary"
df_basics = df_basics[~df_basics.genres.str.contains("Documentary")]

In [10]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [11]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86979 entries, 34802 to 10016777
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86978 non-null  object
 3   originalTitle   86978 non-null  object
 4   isAdult         86979 non-null  object
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86979 non-null  object
 8   genres          86979 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [12]:
# save df_basics as csv file
df_basics.to_csv("Data/title_basics_filtred.csv", index=False)

In [13]:
# Filter df_ratings to only include movies that exist in df_basics
df_ratings = df_ratings[df_ratings.tconst.isin(df_basics.tconst)]

In [14]:
# replace "\n" by nan values in df_ratings
df_ratings.replace("\\N", np.nan, inplace=True)

In [15]:
# save df_ratings as csv file
df_basics.to_csv("Data/title_ratings_filtred.csv", index=False)